---
import FormContact from "./FormContact";
---
<section class="sm:p-20 p-5 bg-indigo-50 dark:bg-zinc-800  scroll-mt-20" id="contact">
    <div class="sm:container mx-auto">
        <h2 class="text-center text-4xl font-bold pb-10">Contacto</h2>
        <div class="w-full sm:flex">
            <div class="w-full bg-colors-blue p-10 rounded-md">
                    <FormContact  client:load />
                    <script type="text/javascript"
                    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

                    <script type="text/javascript">
                    emailjs.init('BePwnVkL8Du--46fe')
                    </script>
            </div>
        </div>
    </div>
</section>
