---
import ThemeToggle from "./ThemeToggle";
--- 
<footer class="bg-purple-200 dark:bg-slate-800 p-10">
    <section class="container mx-auto">
        <div class="flex justify-center">
            <p>Creado por <a class="text-gray-500 dark:text-gray-400" href="https://juanvega.online/">Juan Jose Vega</a>.</p>
        </div>
        <div class="flex justify-center sm:hidden">
            <ThemeToggle client:load />
        </div>
    </section>
</footer>