---

---

<section id="services" class="sm:p-10 lg:p-20 p-5 bg-indigo-50 dark:bg-zinc-800  scroll-mt-20">
	<div class="sm:container mx-auto bg-purple">
		<h2 class="text-center text-4xl font-bold pt-10 sm:pt-0 pb-10">Servicios</h2>
		<div class="sm:grid grid-cols-2">
			<div class="sm:p-10 p-5 bg-purple-200 dark:bg-slate-800  sm:me-5 mb-10 rounded-md hover:shadow-md">
				<h3 class="text-xl mb-5 font-bold">Instagram Reels, Shorts & TikToks</h3>
				<p class="leading-10  text-justify">
					Eleva tus redes sociales con contenido vibrante y atractivo. Como editor especializado en Instagram Reels y TikToks, estoy aquí para dar vida a tus ideas, creando videos cortos que cautivarán a tu audiencia.
				</p>
			</div>

			<div class="sm:p-10 p-5 bg-purple-200 dark:bg-slate-800  sm:me-5 mb-10 rounded-md hover:shadow-md">
				<h3 class="text-xl mb-5 font-bold">YouTube Videos</h3>
				<p class="leading-10  text-justify">
					Dale un impulso a tu canal de YouTube con contenido de calidad. Como editor dedicado a videos de YouTube, me especializo en crear piezas visuales impactantes que destacarán tu marca y mantendrán a tus seguidores comprometidos.
				</p>
			</div>

			<div class="sm:p-10 p-5 bg-purple-200 dark:bg-slate-800  sm:me-5 mb-10 rounded-md hover:shadow-md">
				<h3 class="text-xl mb-5 font-bold">Video Editing Services</h3>
				<p class="leading-10  text-justify">
					Ofrezco servicios de edición de video personalizados para satisfacer tus necesidades. Ya sea para YouTube, redes sociales o proyectos especiales, estoy aquí para transformar tus grabaciones en obras visuales impactantes y memorables.
				</p>
				</p>
			</div>

			<div class="sm:p-10 p-5 bg-purple-200 dark:bg-slate-800  sm:me-5 mb-10 rounded-md hover:shadow-md">
				<h3 class="text-xl mb-5 font-bold">Otros Proyectos</h3>
				<p class="leading-10  text-justify">
					Más allá de Instagram, YouTube y TikTok, estoy preparado para abordar una amplia gama de proyectos. Desde videos corporativos hasta contenido promocional, mi enfoque creativo y habilidades técnicas están listos para potenciar cualquier idea que tengas en mente.
				</p>
			</div>
		</div>
	</div>
</section>
